h1{
  color: red;
}
#conteneur{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 400px;
  border: 1px solid black;
  align-content: flex-start;
  padding: 5px;
}
.element1{
  background-color: #2ecc71;
  width: 75%;
  height: 40px;
}
.element2{
  background-color: #2980B9;
  width: 25%;
  height: 40px;
}
.element3{
  background-color: #E74C3C;
  width: 30%;
  height: 40px;
}
.element4{
  background-color: #E67E22;
  width: 36%;
  height: 40px;
}.element5{
  background-color: #95A5A6;
  width: 34%;
  height: 40px;
}
.element6{
  background-color: #E74C3C;
  width: 30%;
  height: 40px;
}
.element7{
  background-color: #F39C12;
  width: 24%;
  height: 40px;
}
.element8{
  background-color: #16A085;
  width: 23%;
  height: 40px;
}
.element9{
  background-color: #D35400;
  width: 23%;
  height: 40px;
}
.element10{
  background-color: #2C3E50;
  width: 100%;
  height: 120px;
}
